{% extends "base_generic.html" %}
{% block content %}
<div id="map_desc"><br/></div>
<div><br/></div>
  <p class="w3-justify">
      La mappa sottostante indica lo stato attuale della Guerra della Valle. Ogni comune ha il proprio colore,
      aree dello stesso colore sono sotto controllo dello stesso comune.<br/>
      Per <strong>visualizzare lo stato di un comune</strong>, clickaci sopra e scoprirai che comune è e da quale altro comune è "controllato".
      Puoi muoverti liberamente per la mappa ed esplorare tutti i 77 comuni della provincia di Sondrio.<br/>
      <strong>Controlli (provvisori):</strong>
      <ul>
          <li class="w3-justify">Tramite i tasti <strong>Previous</strong> e <strong>Next</strong> ti muovi "nel tempo" rispettivamente indietro e in avanti.</li>
          <li class="w3-justify">La casella di testo tra i tasti next e previous mostra il numero dello "stato" attuale</li>
          <li class="w3-justify">Il <strong>testo sopra la mappa</strong> indica cosa è successo nello "step" di simulazione che stai visualizzando</li>
      </ul>
  </p>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.2/topojson.min.js"></script>

{% load static %}
<div id="map_top" class="w3-content" style="max-width:2000px;margin-top:46px">
    <strong><p class="w3-justify w3-center" id="event"></p></strong>
</div>
<script src="{% static 'js/map.js' %}"></script>
<div id='map' class="w3-content" style="width:99%;height:400px;;margin-top:10px">
    <script>
        var map = L.map('map').setView([46.329861445464246,9.906881730860034], 9);
        var jsonLayer = null;
    </script>
</div>
<div id="map_bottom" class="w3-content" style="max-width:2000px;margin-top:46px">
    <input type="button" value="Previous" onclick="changeState('prev')">
    <input type="text" value="-1", id="prova">
    <input type="button" value="Next" onclick="changeState('next')">
</div>


{% endblock %}